@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFBD6;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Garamond, Georgia, serif;
}
